@import "tailwindcss";
:root {
  --color-primary: #FFA133;
  --color-secondary: #A5BBFC;
  --color-tertiary: #131313;
  --color-neutral: #FAFAFA;

  --color-text-main: #131313;
  --color-text-muted: #6B7280;
  --color-border: #E5E7EB;
}

html {
  scroll-behavior: smooth;
}